*.ipynb_checkpoints
*pyc
*.ckpt
*/lightning_logs/*
misc/*
models/*
!models/.gitkeep
datasets/*
!datasets/.gitkeep
output*/*
!output/.gitkeep
model=*
log/*
E-GraphSAGE
tb_logs
.idea/*
datasets-*/*
trained_models/*
*.log